<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
</head>
<body>
  <%- include('partials/navbar', {page: ''}) %>  
    <div class="container mx-auto">
        <div class="hero">
            <div class="hero-content text-5xl font-bold">
                <div class="max-w-md">
                    <h1>ERROR 404</h1>
                    <p><%= message %>.</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>