<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="\">Lego Collection</a>
        </div>
      
        <div class="navbar-center flex">
          <ul class="menu menu-horizontal px-1">
            <li><a href="/about" class="active">About</a></li>
            <li>
              <details>
                <summary>Themes</summary>
                <ul class="p-2 bg-base-100 right-0">
                  <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                  <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                  <li><a href="/lego/sets?theme=Playhouse">Playhouse</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
    </div>  
    <div class="container mx-auto">
        <div class="hero">
            <div class="hero-content font-bold text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl">About me.</h1>
                    <p>I am Jashanpreet Singh. I really enjoy figuring out new things through these assignments :).</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div class="card bg-base-100 shadow-xl">
                <figure>
                  <img class="w-full" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Vincent_van_Gogh_-_Road_with_Cypress_and_Star_-_c._12-15_May_1890.jpg/1200px-Vincent_van_Gogh_-_Road_with_Cypress_and_Star_-_c._12-15_May_1890.jpg" alt="001-1" />
                </figure>
            </div>
              <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title">Me.</h2>
                  <p>I am in Computer Programming and Analysis. I gain a lot of satisfaction from learning new things.
                     I have some hobbies such as exercising, reading, sports etc. I love making friends and helping others.
                     I want to be have a successul career in ICT one day.</p>
                </div>
              </div>
        </div>
      </div>
</body>
</html>