<!DOCTYPE html>
<html>
  <head>
    <title>View Data</title>
  </head>

  <body>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Occupation</th>
        <th>Company</th>
      </tr>
      <tr>
        <td><% data.names.forEach((name) => { %>
            <%= name %>
          <% }) %></td>
        <td><% data.ages.forEach((age) => { %>
            <%= age %>
          <% }) %></td>
        <td><% data.occupations.forEach((occupation) => { %>
            <%= occupation %>
          <% }) %></td>
        <td><% data.companies.forEach((company) => { %>
            <%= company %>
          <% }) %></td>
      </tr>
    </table>
  </body>
</html>